.CardEvolution {
  img {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
    image-rendering: pixelated;
    position: relative;
    transition: 0.1s ease all;
  }
}
.CardEvolution:hover {
  img {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
  }
}
